.card {
    height: 100%;
    display: flex;
    padding: 5px;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    max-width: 370px;
    margin-right: 0;
    overflow: hidden;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12);
    background-color: white;
}
.avatar {
    background-color: #f44336;
}
.media {
    height: 0;
    padding-top: 56.25%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.actions {
    display: flex;
}
.expand {
    transform: rotate(0deg);
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    margin-left: auto;
}
.expandOpen{
    transform: rotate(180deg);
}